#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #555; /* tom mais suave ao passar o mouse */
}

.carousel-img {
  animation: zoomInOut 10s ease-in-out infinite !important;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* zoom leve */
  }
  100% {
    transform: scale(1);
  }
}
.transition-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.transition-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  background-color: #128c7e;
  color: white;
}

/* Opcional: Animação de entrada */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Triângulo do balão de fala */
.whatsapp-tooltip::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 20px;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #fff transparent transparent;
  display: block;
  width: 0;
}

/* Animação para o balão flutuar levemente */
.whatsapp-tooltip {
  animation: floatAnim 3s infinite ease-in-out;
}

@keyframes floatAnim {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

.whatsapp-float:hover {
  transform: scale(1.1);
}